:root {
	color-scheme: normal;

	/* colors pulled from the WP theme for the block editor */
	--wp--preset--color--primary: #4b2e83;
	--wp--preset--color--secondary: #85754d;
	--wp--preset--color--husky-purple: #4b2e83;
	--wp--preset--color--husky-gold: #b7a57a;
	--wp--preset--color--husky-metallic-gold: #85754d;
	--wp--preset--color--husky-light-gold: #e8e3d3;
	--wp--preset--color--spirit-purple: #542e91;
	--wp--preset--color--spirit-gold: #eec234;
	--wp--preset--color--spirit-candle-green: #c1d640;
	--wp--preset--color--spirit-teal: #33b1a8;
	--wp--preset--color--spirit-pink: #eb4B99;
	--wp--preset--color--spirit-metallic-gold: #b59e50;
	--wp--preset--color--white: #fff;
	--wp--preset--color--black: #373A3C;
	--wp--preset--color--true-black: #000;
	--wp--preset--color--gray: #d5d8de;
}


@media (prefers-color-scheme: dark) {
	.example.dark {
		background-color: var(--wp--preset--color--husky-purple);

		h3, p {
			color: var(--wp--preset--color--husky-light-gold);
		}
	}
}


@media (prefers-color-scheme: light) {
	.example.light {
		background-color: var(--wp--preset--color--husky-light-gold);

		h3, p {
			color: var(--wp--preset--color--husky-purple);
		}
	}
}

