@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

body {
	/* colors pulled from the WP theme for the block editor */
	--wp--preset--color--primary: #4b2e83;
	--wp--preset--color--secondary: #85754d;
	--wp--preset--color--husky-purple: #4b2e83;
	--wp--preset--color--husky-gold: #b7a57a;
	--wp--preset--color--husky-metallic-gold: #85754d;
	--wp--preset--color--husky-light-gold: #e8e3d3;
	--wp--preset--color--spirit-purple: #542e91;
	--wp--preset--color--spirit-gold: #eec234;
	--wp--preset--color--spirit-candle-green: #aadb1e;
	--wp--preset--color--spirit-teal: #33b1a8;
	--wp--preset--color--spirit-pink: #eb4B99;
	--wp--preset--color--spirit-metallic-gold: #b59e50;
	--wp--preset--color--white: #fff;
	--wp--preset--color--black: #373A3C;
	--wp--preset--color--true-black: #000;
	--wp--preset--color--gray: #d5d8de;

	.has-husky-purple-color { color: var(--wp--preset--color--husky-purple) !important; }
	.has-husky-gold-color { color: var(--wp--preset--color--husky-gold) !important; }
	.has-husky-metalic-gold-color { color: var(--wp--preset--color--husky-metallic-gold) !important; }
	.has-husky-light-gold-color { color: var(--wp--preset--color--husky-light-gold) !important; }
	.has-spirit-purple-color { color: var(--wp--preset--color--spirit-purple) !important; }
	.has-spirit-gold-color { color: var(--wp--preset--color--spirit-gold) !important; }
	.has-spirit-candle-green-color { color: var(--wp--preset--color--spirit-candle-green) !important; }
	.has-spirit-teal-color { color: var(--wp--preset--color--spirit-teal) !important; }
	.has-spirit-pink-color { color: var(--wp--preset--color--spirit-pink) !important; }
	.has-spirit-metallic-gold-color { color: var(--wp--preset--color--spirit-metallic-gold) !important; }
	.has-white-color { color: var(--wp--preset--color--white) !important; }
	.has-nearly-black-color { color: var(--wp--preset--color--black) !important; }
	.has-true-black-color { color: var(--wp--preset--color--true-black) !important; }
	.has-gray-color { color: var(--wp--preset--color--gray) !important; }

	.has-husky-purple-background-color { background-color: var(--wp--preset--color--husky-purple) !important; }
	.has-husky-gold-background-color { background-color: var(--wp--preset--color--husky-gold) !important; }
	.has-husky-metalic-gold-background-color { background-color: var(--wp--preset--color--husky-metallic-gold) !important; }
	.has-husky-light-gold-background-color { background-color: var(--wp--preset--color--husky-light-gold) !important; }
	.has-spirit-purple-background-color { background-color: var(--wp--preset--color--spirit-purple) !important; }
	.has-spirit-gold-background-color { background-color: var(--wp--preset--color--spirit-gold) !important; }
	.has-spirit-candle-green-background-color { background-color: var(--wp--preset--color--spirit-candle-green) !important; }
	.has-spirit-teal-background-color { background-color: var(--wp--preset--color--spirit-teal) !important; }
	.has-spirit-pink-background-color { background-color: var(--wp--preset--color--spirit-pink) !important; }
	.has-spirit-metallic-gold-background-color { background-color: var(--wp--preset--color--spirit-metallic-gold) !important; }
	.has-white-background-color { background-color: var(--wp--preset--color--white) !important; }
	.has-nearly-black-background-color { background-color: var(--wp--preset--color--black) !important; }
	.has-true-black-background-color { background-color: var(--wp--preset--color--true-black) !important; }
	.has-gray-background-color { background-color: var(--wp--preset--color--gray) !important; }

	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;

	h1, h2, h3, h4, h5, h6 {
		font-family: "Roboto Slab", serif !important;
		font-optical-sizing: auto;
		font-style: normal;
	}
	header {
		.logo {
			margin-bottom: -12px;
		}
		.navbar-brand {
			margin-left: 20px;
			font-size: 1.5rem;
		}

		@media screen and (max-width: 992px) {
			nav {
				.container {
					display: block;

					.navbar-nav {
						margin-top: 10px;
						flex-direction: row;

						li {
							a {
								padding-right: 10px;
							}

							&:last-of-type {
								a {
									padding-right: 0;
								}
							}
						}
					}
				}
			}
		}

		a.navbar-brand:hover,
		a.navbar-brand:active,
		a.navbar-brand:focus {
			color: var(--wp--preset--color--husky-light-gold) !important;
			text-decoration: underline;
			text-decoration-thickness: 2px;
			text-underline-offset: 10px;
		}

		.nav-item a.active,
		.nav-item a:hover,
		.nav-item a:active,
		.nav-item a:focus {
			color: var(--wp--preset--color--husky-light-gold) !important;
			text-decoration: underline;
			text-decoration-thickness: 2px;
			text-underline-offset: 10px;
		}

		box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
		--webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	}

	main {
		padding-top: 30px;
		margin-bottom: 80px;
	}

	.strike {
		text-decoration: line-through;
	}

	.gap {
		gap: 20px;
	}

	section {
		margin-bottom: 40px;
	}

	.example {
		padding: 20px;
		margin-bottom: 40px;
		background-color: #efefef;
	}

	.example.teal {
		border: 2px solid var(--wp--preset--color--spirit-teal);
	}

	.example.pink {
		border: 2px solid var(--wp--preset--color--spirit-pink);
	}

	.example.green {
		border: 2px solid var(--wp--preset--color--spirit-candle-green);
	}

	.example.purple {
		border: 2px solid var(--wp--preset--color--husky-purple);
	}

	.example.spgold {
		border: 2px solid var(--wp--preset--color--spirit-gold);
	}

	.balance {
		text-wrap: balance;
	}

	.pretty {
		text-wrap: pretty;
	}

	#accent-color {
		.accent1 {
			accent-color: pink;
		}

		.accent2 {
			accent-color: var(--wp--preset--color--husky-purple);
		}
	}

	#text-underline-offset {
		.tl-td-none {
			text-decoration: none;
		}

		.tl-link-border-btm {
			border-bottom: 1px solid;
		}

		.tl-box-shadow {
			padding: 4px;
			box-shadow: 0 3px;
		}

		.tl-tu-offset {
			text-underline-offset: 0.25em;
		}

		.tl-tu-offset-2 {
			text-underline-offset: .5em;
		}

		.tl-td-thick-2 {
			text-decoration-thickness: 0.2em;
		}

		.tl-td-thick-3 {
			text-decoration-thickness: 0.3em;
		}

		.tl-td-color-purple {
			text-decoration-color: var(--wp--preset--color--husky-purple);
		}
	}

	#outline-offset {

		/* scroll-margin-top: 5em; */

		.element-to-offset {
			padding: .75em;
			margin-right: 2em;
			border: 1px solid var(--wp--preset--color--spirit-pink);
			outline: 2px dashed var(--wp--preset--color--true-black);
			outline-offset: 0.5em;
		}

		.o-offset-p {
			outline-offset: 0.5em;
		}

		.o-offset-n {
			outline-offset: -0.5em;
		}

		.o-offset-p,
		.o-offset-n {
			&:focus {
				outline: 2px dashed var(--wp--preset--color--true-black);
			}
		}
	}

	#aspect-ratio {
		.example {
			img {
				width: 100%;
				height: auto;
			}

			&.ar-1 {
				iframe, img {
					aspect-ratio: 16 / 9;
				}

				iframe {
					width: 100%;
					height: auto;
				}
			}

			&.ar-2 {
				iframe, img {
					aspect-ratio: 1 / 1;
				}

				@media screen and (max-width: 768px) {
					iframe {
						max-width: 100%;
					}
				}
			}

			&.ar-3 {
				img {
					object-fit: cover;
					object-position: center;
					aspect-ratio: 16 / 9;
				}

			}

			&.ar-4 {
				img {
					object-fit: cover;
					object-position: center;
					aspect-ratio: 1 / 1;
				}
			}
		}
	}

	#css-has {
		.card:has(img) {
			h2, h3, h4, h5, h6 {
				margin-top: 2rem;
			}
		}

		/* All images */
		.text-image {
			border: 1px solid var(--wp--preset--color--spirit-pink);
			padding: 1rem;

			img {
				width: 100%;
				height: auto;
				margin-bottom: 1rem;
			}
		}

		/* Images with figcaptions, style the container and change the image styling */
		.text-image:has(figcaption) {
			border: 1px solid var(--wp--preset--color--spirit-teal);
			background-color: #efefef;

			figure {
				border: 1px solid var(--wp--preset--color--spirit-candle-green);
				padding: 1rem;
				background-color: white;

				img {
					margin-bottom: 0.5rem;
				}

				figcaption {
					font-style: italic;
					font-weight: bold;
				}
			}
		}

		.form-example form {
			border: 1px solid var(--wp--preset--color--husky-purple);
			background-color: #efefef;
			padding: 2rem;
		}

		.form-example:has(input:checked) {
			.error {
				display: block;
			}
		}
		.form-example:not(:has(input:checked)) {
			.error {
				display: none;
			}
		}

		.tip {
			border: 1px solid var(--wp--preset--color--husky-metallic-gold);
			background-color: var(--wp--preset--color--husky-light-gold);
			padding: 2rem;
		}
	}

	#margin-inline {
		.rtl {
			direction: rtl;
		}

		.card {
			padding: 0; /* reset BS provided values */
			margin: 0; /* reset BS provided values */
			img {
				border-radius: 50%;
			}
			.card-body {
				padding-inline: 0; /* reset BS provided values */
				display: flex;
				align-items: center;
			}
			&.long-form {
				padding-left: 1.5em;
				padding-right: 1em;
				border-left: 1.5em solid var(--wp--preset--color--spirit-purple);
				img {
					margin-right: 1em;
				}
				&.rtl {
					padding-right: 1.5em;
					padding-left: 1em;
					border-left: 0;
					border-right: 1.5em solid var(--wp--preset--color--spirit-purple);
					img {
						margin-right: 0;
						margin-left: 1em;
					}
				}
			}
			&.short-form {
				padding-inline-start: 1.5em;
				padding-inline-end: 1em;
				border-inline-start: 1.5em solid var(--wp--preset--color--spirit-purple);
				img {
					margin-inline-end: 1em;
				}
			}
		}
	}

	#fit-content-width {
		.fit-content {
			width: fit-content;
			border: 2px dashed var(--wp--preset--color--husky-gold);
		}
	}

	#grid-example {
		.grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			gap: 1rem;
			margin-bottom: 2rem;

			.grid-item {
				border: 1px solid var(--wp--preset--color--spirit-candle-green);

				img {
					width: 100%;
					height: auto;
					margin-bottom: 1rem;
				}

				h3, p {
					padding-left: 1rem;
					padding-right: 1rem;
				}
			}
		}
	}

	#nested-grid-example {
		.grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
			gap: 1rem;
			margin-bottom: 2rem;

			.grid-item {
				border: 1px solid var(--wp--preset--color--spirit-teal);
				display: grid;
				grid-template-columns: 2fr 1fr;

				img {
					width: 100%;
					height: 100%;
					object-position: center;
					object-fit: cover;
					grid-row-start: 1;
					grid-row-end: 4;
				}

				h3, p {
					padding-left: 1rem;
					padding-right: 1rem;
				}
			}
		}
	}

	#subgrid-example-1 {
		.grid {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: repeat(4, minmax(100px, auto));
			gap: 1rem;
			margin-bottom: 2rem;
			background-color: #ddd;
			border: 1px solid #333;

			.grid-item {
				border: 1px solid var(--wp--preset--color--spirit-pink);
				background-color: pink;
				display: grid;
				grid-column: 2 / 7;
				grid-row: 2 / 4;
				grid-template-columns: subgrid;
				grid-template-rows: repeat(3, 80px);

				.subitem {
					grid-column: 3 / 6;
  					grid-row: 1 / 3;
					border: 1px solid var(--wp--preset--color--spirit-teal);
					background-color: lightblue;
				}
			}
		}
	}

	#subgrid-example-2 {
		.grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
			gap: 1rem;
			margin-bottom: 2rem;

			.grid-item {
				display: grid;
				grid-template-rows: subgrid;
				grid-row: span 4;
				gap: 0;
				border: 1px solid var(--wp--preset--color--spirit-purple);

				img {
					width: 100%;
					height: 200px;
					object-position: center;
					object-fit: cover;
				}

				h3, p {
					padding-left: 1rem;
					padding-right: 1rem;
					margin: 0;
				}

				h3 {
					background-color: lightskyblue;
				}

				p {
					background-color: lightpink;
				}

				p:has(a) {
					background-color: lightgreen;

					a { color: darkblue; }
				}
			}

			&.without-backgrounds {
				.grid-item {
					h3 {
						background: none;
					}

					p {
						background: none;
					}

					p:has(a) {
						background: none;
					}
				}
			}
		}
	}

	#container-queries {
		.social {
			max-width: 500px;
			container-name: social; /* optional */
			container-type: inline-size;

			&.query-units {
				container-name: query-units;
			}

			.post {
				border-radius: 5px;
				border: 1px solid var(--wp--preset--color--black);
				padding: 1.5rem;

				.heading {
					display: flex;
					flex-direction: row;
					align-items: center;
					margin-bottom: 1rem;

					.profile-pic {
						width: 60px;
						height: 60px;
						object-fit: cover;
						object-position: 20%;
						border-radius: 50%;
						margin-right: 15px;
					}

					.personal-info {
						h4, p {
							margin-bottom: 0;
						}
					}
				}

				.content {
					img {
						width: 100%;
						height: auto;
						margin: 0.5rem 0 1rem;
					}
				}

				.actions {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;

					.profile-icon {
						width: 25px;
						height: 25px;
						object-fit: cover;
						object-position: 20%;
						border-radius: 50%;
					}

					div {
						display: flex;
						flex-direction: row;
						align-items: center;

						.bi {
							margin-right: 0.5rem;

							&:before {
								font-size: 1.25rem;
							}
						}

						.label {
							font-size: 1rem;
						}
					}
				}
			}
		}

		.full-page {
			background-color: #efefef;
			padding: 2rem;
			display: grid;
			grid-template-columns: 2fr minmax(400px, 1fr);
			gap: 2rem;

			@media screen and (max-width: 992px) {
				grid-template-columns: 1fr;
			}
		}

		@container social (min-width: 450px) {
			.label {
				display: block;
			}
		}

		@container social (max-width: 449px) {
			.label {
				display: none;
			}
		}

		@container query-units (max-width: 500px) {
			h4 {
				font-size: max(1.5em, 1.23em + 2cqi);
			}
		}
	}

	#object-fit {
		.custom-cards {
			display: flex;
			margin: 0 -0.5em;
		}
		.custom-card {
			margin: 0.75em;
			width: 33.33%;
			border-radius: 1em;
			height: auto;
			box-shadow: 0 0 4px -2px var(--wp--preset--color--black);
			background-color: var(--wp--preset--color--white);
			&.cover {
				img {
					object-fit: cover;
					width: 100%;
				}
			}
			&.better {
				height: 25em;
				/* div {height: 50%} */
				img {
					border-radius: 1em 1em 0 0;
					/* overflow: hidden; */
					height: 50%;
					object-position: center bottom;
				}
			}
			.custom-card-body {
				padding: 0.5em;
			}
		}
	}

	/* this relates to the #scroll-margin examples */
	#object-fit,
	#text-wrap-balance {
		scroll-margin-top: 5em;
	}

	#scroll-margin {
		.form-switch {
			margin-block: 1em;
		}
		.scroll-container {
			border: 1px solid black;
			width: 25em;
			height: 20em;
			overflow-y: scroll;
			overflow-x: hidden;
			display: flex;
			flex-direction: column;
			padding: 0;
			scroll-snap-type: y mandatory;

			.box {
				flex: 0 0 20em;
				width: 20em;
				background-color: var(--wp--preset--color--husky-metallic-gold);
				display: flex;
				align-items: center;
				justify-content: center;
				scroll-snap-align: start;
				font-size: 18px;
				font-weight: 800;
				scroll-margin: 0;
				scroll-snap-stop: always;
			}
		}
		.scroll-container > .box:nth-child(2) {
			scroll-margin: 1em;
		}
		.scroll-container > .box:nth-child(3) {
			scroll-margin: 2em;
		}
		.scroll-container > .box:nth-child(5) {
			scroll-margin: 4em;
		}
	}

	/* intro and table of contents */
	.card {
		&.toc {
			border-radius: 1em;
			border: none;
			border-bottom: 30px solid var(--wp--preset--color--spirit-candle-green);
			height: auto;
			box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
			background-color: var(--wp--preset--color--white);
			padding: 2em;

			img {
				width: 80%;
			}
			ol {
				list-style-type: none;
				counter-reset: tour-stops-counter;	
				/* display: flex; */
				/* flex-wrap: wrap; */
				padding-left: 3em;
				margin: 0;
			}
			ol li {
				counter-increment: tour-stops-counter;
				display: block;
				position: relative;
				margin: 0 0 1em 0;
			}
			ol li::before {
				padding: .125em .75em .25em .75em;
				position: absolute;
				border-radius: 100%;
				--size: 1.75em;
				left: calc(-1 * var(--size) - 1em);
				width: --size;
				height: --size;
				line-height: --size;
				top: 0;
				font-family: "Roboto Slab", serif;
				font-weight: 800;
				font-size: 1em;
				content: counter(tour-stops-counter);
				background: var(--wp--preset--color--husky-purple);
				color: var(--wp--preset--color--white);
			}
		}
		i {
			font-size: 5em;
			text-align: center;
			color: var(--wp--preset--color--husky-purple);
		}
	}

	/* svgs for backgrounds */
	.svg-wavy {
		object-fit: cover;
		object-position: center center;
		height: 175px;
	}

	.svg-intro {
		position:relative;
	}
	.svg-intro::before{
		content:'';
		position: absolute;
		z-index: -3;
		pointer-events: none;
		background-repeat: no-repeat;
		bottom: 0;
		left: 0;
		right: 0;
		top: -1.25em;
		background-size: 100%;
		background-position: 50% 0;
		background-image: url('assets/bus-scene.svg');
	}

	@media (max-width: 1000px) {
		.svg-wavy {
			height: 150px;
		}
	}
	@media (max-width: 800px) {
		.svg-wavy {
			height: 100px;
			left: 25%;
		}
		.svg-intro::before{
			background-image: url('assets/bus-scene-mobile.svg');
		}
	}

	#btn-back-to-top {
		position: fixed;
		bottom: 20px;
		right: 20px;
		display: none;
		cursor: pointer;
		font-weight: bold;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	}
	#btn-back-to-top:focus {
		outline-offset: 2px;
		outline: 3px solid var(--wp--preset--color--spirit-pink);
	}
}
